<section class='{{slide.class}}' data-state='{{slide.ds}}' id='{{slide.id}}'>
  <button class="theme-button">theme1</button>
  <button class="theme-button">theme2</button>
  <button class="bg-button" data-bg="on">toggle bg</button>
  {{{ slide.header }}}
  {{{ slide.content }}}
  <div class='container'>
    <div class='left'>
     {{{ slide.left.html }}}
    </div>
    <div class='right'>
     {{{ slide.right.html }}}
    </div>
  </div>
  {{# slide.pnotes }}
  <aside class='notes'>
    {{{ html }}}
  </aside>
  {{/ slide.pnotes }}
</section>
