/* Universal */

body {
  font-family: 'Helvetica', sans-serif;
}

.reveal h1, .reveal h2 {
  font-weight: 700;
  font-size: 55px;
  line-height: 100%;
}

.reveal h1 {
  margin-top: 50px;
}

.reveal h2 {
  margin-top: 150px;
}

.reveal h3 {
  padding: 8px;
  margin: 15px auto;
  border: 2px solid black;
  width: fit-content;
  line-height: 120%;
}

.reveal .slide-background:before {
  background-repeat: repeat-x;
  background-position: center top;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
}

/* Title */

#slide-1 h1 {
  margin-bottom: 0;
  font-style: italic;
}

#slide-1 p {
  margin: 30px 0;
  font-size: 20px;
}

/* Slideshow */

.reveal .slides-wrapper {
  width: 900px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.reveal .slide {
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  position: absolute;
  top: -50%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.reveal .slide.active {
  opacity: 1;
}

.reveal .slide img {
  width: 100%;
}

/* Components */

.reveal .quote {
  width: 200px;
  padding: 25px 40px;
  margin: 0 auto;
  position: relative;
}

.reveal .img-wrapper {
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}

.reveal .img-wrapper img {
  height: 100%;
  transform: translate(10px, 10px);
}

.reveal .fa {
  font-size: 25px;
  position: absolute;
}

.reveal .fa-quote-left {
  top: 7px;
  left: 10px;
}

.reveal .fa-quote-right {
  bottom: 5px;
  right: 10px;
}

/* Layout A */

.reveal .left, .reveal .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
}

.reveal .left {
  float: left;
}

.reveal .right {
  float: right;
}
