/* Universal */

body {
  background-image: linear-gradient(#FAFAFA, #8BB8E8);
}

.reveal h1 {
  color: black;
  text-shadow: -1px -1px 1px white;
}

.reveal h2 {
  color: #003B5C;
}

.reveal .slide-background:before {
  background: url('../../../../../assets/images/grad_cap.png');
  background-size: 70%;
  opacity: 0.2;
  top: -40px;
}

/* Controls */

.reveal .progress {
  color: #FFD100;
}

/* Title */

.title h1, .title p {
  color: black;
}

/* Components */

.reveal .quote {
  background-color: #FFB81C;
  outline: 4px dotted black;
  outline-offset: 3px;
  border: 6px double black;
  color: black;
}

.reveal .textbox {
  color: #FFD100;
  background-color: black;
  border: 3px dashed #FFD100;
  outline: 9px solid black;
}

.reveal .blue .quote, .reveal .blue .textbox {
  background-color: #003B5C;
  border: 4px dotted #FFD100;
  outline: 10px solid #003B5C;
}

.reveal .img-wrapper {
  background-color: black;
}

.reveal .blue .img-wrapper {
  background-color: #003B5C;
  outline: 2px solid #FFD100;
}

.reveal .blue h1 {
  color: #003B5C;
}

.reveal h3 {
  color: black;
}

.reveal .blue h3 {
  color: #003B5C;
  border-color: #003B5C;
}
