/* Universal */

body {
  background-image: linear-gradient(#FAFAFA, #8BB8E8);
}

.reveal h1 {
  color: black;
  text-shadow: -1px -1px 1px white;
}

.reveal h2 {
  color: #003B5C;
}

.reveal .slide-background:before {
  background: url('../../../../../assets/images/grad_cap.png');
  background-size: 70%;
  opacity: 0.2;
  top: -40px;
}

/* Controls */

.reveal .progress {
  color: #FFD100;
}

/* Title */

.title h1, .title p {
  color: black;
}

/* Components */

.reveal .quote {
  color: #FFC72C;
  background-color: #003B5C;
}

.reveal .img-wrapper {
  background-color: #003B5C;
}

.reveal h3 {
  color: black;
}
